/*
/* 
    Created on : 11/03/2015, 00:42:20
    Author     : wesley
*/
body
{
    background: #333;
}
#conteiner
{
    margin-top: 10px;
    border-radius: 15px;
    
    
}
#cabecalho
{
     background-color: #333;
     height: 100px;
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     color: white;
     width: 954px;
}

#conteudo
{
    background-color:white;
    min-height: 300px;
    margin-left: 0px;
    width: 954px;
    margin-top: 30px;
    clear: both;
   
}


#rodape
{
    background-color: #333;
    height: 50px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    width: 954px;
    clear: both;
    color: white;
}
#menu-horizontal
{
  background-color:  #333;
  color: black;
  height: 40px;
  clear: both;
  margin-top: 3px;
  padding-top: 5px;
   width: 954px;
}
  a:link {color: white;}
a:visited {text-decoration: none;}
a:hover {text-decoration:none;
}
a:active {text-decoration: none;}
#banner
{
 margin-top: 10px;
 margin-left: 15px;
}
#user-dados
{
    float: right;
    margin-right: 10px;
    margin-top: 12px;
}
#menu
{
  
     padding-left: 15px;
     width: 939px;
     text-decoration: none;
}
#tabela
{
  margin-left:  30px;   
}